<!doctype html>
<html lang="en">
    <head>
        <title>Ilha do Príncipe</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand h1 mb-0" href="/">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsite">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsite">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/historia">História</a></li>
                        <li class="nav-item"><a class="nav-link" href="/eventos">Eventos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li>
                        <li class="nav-item"><a class="nav-link" href="/depoimentos">Depoimentos</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop">Social</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://www.facebook.com/diegosantos132" target="_blank">Facebook</a>  
                                <a class="dropdown-item" href="https://www.twiteer.com" target="_blank">Twiteer</a>
                                <a class="dropdown-item" href="https://www.instagram.com" target="_blank">Instagram</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <input class="form-control ml-4 mr-2" type="search" placeholder="Buscar...">
                        <button class="btn btn-dark" type="submit">OK</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container justufy-content-center my-5">
            <div class="row">
                <div class="col-12 text-center my-5">
                    <h1 class="display-4"> <i class="fa fa-paper-plane text-primary" aria-hidden="true"></i> Depoimentos</h1>
                    <h6 class="text-primary" id="resp">{{.Msg}}</h6>
                </div>
            </div>
            <div class="row justufy-content-center mb-5">
                <div class="col-sm-12 col-md-10 col-lg-8">
                    <form action="/enviarDepoimento" method="POST" class="form-horizontal justufy-content-center">
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-lg-8">
                                <label for="inputNome">Nome:</label>
                                <input type="text" name="nome" class="form-control" id="inputNome" placeholder="Nome" value="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-lg-8">
                                <label for="inputTexto">Mensagem:</label>
                                <textarea name="mensagem" class="form-control" id="inputTexto" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/752dbceb52.js"></script>
    </body>
</html>